<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row align-items-start">
        <div class="col">
            <h2 class="mb-4">Iniciar Sesión</h2>
            <form #formValid class="needs-validation" style="width: 300px;" #loginForm="ngForm" (ngSubmit)="login($event)" novalidate>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    [(ngModel)]="user.email"
                    #email="ngModel"
                    required>
                    <div class="invalid-feedback">
                        Porfavor ingrese un correo.
                    </div>
                </div>
                <div class="mb-3">
                  <label for="pass" class="form-label">Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    id="pass"
                    name="pass"
                    [(ngModel)]="user.pass"
                    #pass="ngModel"
                    required>
                    <div class="invalid-feedback">
                        Porfavor ingrese una contraseña.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </div>
</div>
